/* Apply Quicksand font */
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f8f9fa;
    color: #000000;
}

h1 {
    color: #267C8F;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    color: #30C3CD;
}

.btn-custom {
    background-color: #30C3CD !important;
    color: #000 !important;
    border: none;
    font-weight: 600;
}

.btn-custom:hover {
    background-color: #267C8F !important;
    color: #fff !important;
}

table {
    color: #000000;
}

thead th {
    background-color: #30C3CD;
    color: #ffffff;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #30C3CD;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
